:root {
  --mainpink: #a306b6;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: var(--mainpink);
}

header span {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  margin: 8px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 16px;
  color: #fff;
  padding-left: 8px;
  font-size: 20px;
  padding-bottom: 8px;
}

main {
  background-color: #b7b5b5;
}

header section {
  position: relative;
}

header section h1 {
  position: absolute;
  top: 40%;
  left: 40%;
  color: #fff;
  font-size: 50px;
}

main section {
  width: 50%;
  margin: auto;
}

main section h2 {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
}

main section div {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

main section div article {
  grid-column: span 1;
  font-weight: bold;
  padding: 16px 0;
  background-color: #fff;
}

footer {
  background-color: var(--mainpink);
  color: #fff;
  padding: 12px;
}
